.hero {
	height: 1000px;
	display: flex;
	justify-content: center;
	background-color: #eeeeee;

	.container {
		width: 1400px;
		display: flex;
		align-items: center;

		.left {
			display: flex;
			flex-direction: column;
			gap: 30px;
			margin-left: 100px;

      h1{
        font-size: 40px;
      }

			button {
				width: 200px;
				height: 65px;
				border: none;
				background-color: #8294c4;
				border-radius: 10px;
				cursor: pointer;
        font-weight: bold;
        font-size: 18px;
			}
		}

		.right {
      margin-left: 350px;

			img {
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
